# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Minecraft Runtime & Server files (Ignore our local testing dir)
.sculk_runtime/
minecraft_server/
test_server/
*.jar
*.log
*.txt
sculk_config.json

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
sculk.ipynb
